<%include header %>
	<%include nav-bar %>

	<div class="container">

		<div class="row" id="title">
			<h1><%= title %></h1>
		</div>

		<div>

			<table style="width:100%" id="tableAlumnos">
				<tr>
					<th>MATRICULA</th>
					<th>NOMBRES</th>
					<th>APELLIDOS</th>
				</tr>
				<tr>
				</tr>
			</table>

		</div>

	</div>

<%include footer %>
