<%include header %>
	<%include nav-bar %>

	<div class="container">

		<div class="row" id="title">
			<h1><%= title %></h1>
		</div>

		<div>

			<table style="width:100%" id="tableAlumnos">
			</table>

		</div>

		<button type="button" id="ordenelo">Ordenar alfabeticamente</button>

	</div>

<%include footer %>
