<%include header %>
	<%include nav-bar %>

	<div class="container">
		<div class="row" id="title">
			<h1><%= title %></h1>
		</div>
	</div>

	<div class="container">
		<p> Base de datos para Colegio </p>
	</div>

	<div>

		<table style="width:100%" id="tablePromedios">
			<tr>
				<th>MATRICULA</th>
				<th>NOMBRES</th>
				<th>APELLIDOS</th>
				<th>PROMEDIO</th>
			</tr>
			<tr>
			</tr>
		</table>

	</div>

	 <button type="button" id="peorPromedio">Peor promedio</button>
	 <button type="button" id="mejorPromedio">Mejor Promedio</button>

<%include footer %>
