<%include header %>
	<%include nav-bar %>

    <body>
      <div class= "title container">
        <h1 align=center>Error</h1>
      </div>

      <div class = "ppalContainer container">
    	   <p> Inténtelo de nuevo </p>
      </div>

<%include footer %>
