<div class="container">
  <div class="row foot">
    <footer>

      <div class="col-lg-4 col-sm-4">
        <em>
          <p>Droguería Cámbulos</p>
          <p>Cartago Valle del Cauca</p>
          <p> &copy; Todos los derechos reservados. </p>
          <br><br>
        </em>
      </div>

    </footer>
  </div>
</div>
<script src="/js/bundle.js"></script>
</body>
</html>
