<%include header %>
	<%include nav-bar %>

	<div class="container">

		<div class="row" id="title">
			<h1><%= title %></h1>
		</div>

		<div>

			<table style="width:100%" id="tableGeneral">
			</table>

		</div>

    <button type="button" id="peorPromedio">Peor promedio</button>
 	  <button type="button" id="mejorPromedio">Mejor Promedio</button>

	</div>

<%include footer %>
