<%include header %>
	<%include nav-bar %>

	<div class="container">
		<div class="row" id="title">
			<h1><%= title %></h1>
		</div>
	</div>

	<div class="container">
		<p> PPAL </p>
	</div>

	<div>

		<table style="width:100%" id="tableU">
			<tr>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Points</th>
			</tr>
			<tr>
				<td>Eve</td>
				<td>Jackson</td>
				<td>94</td>
			</tr>
		</table>

	</div>

<%include footer %>
