<div class="container menu-container1" id="nav">
  <nav id="menu-container" role="navigation">
    <div class="nav-menu">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">Acerca de</a></li>
        <li><a href="/contact-us">Contacto</a></li>
      </ul>
    </div>
  </nav>
</div>
