<%include header %>
	<%include nav-bar %>

	<div class="container">

		<div class="row" id="title">
			<h1><%= title %></h1>
		</div>

		<div>

			<table style="width:100%" id="tableNotas">
			</table>

		</div>

		<br>
		<hr>

		<div class="row">
			<br>Se listan las notas de un estudiante en especifico:
      <div class="input-field col s12">
				<label for="Matricula">Matricula: </label><br>
        <input type="text" class="validate" style="width:100px" id="notasEsp">
      </div><!--Hay que analizar que no ingrese nada raro-->
			<div><button type="button" id="estEsp">Calcular</button></div>
    </div>

		<hr>

		<div>
			<p>Numero de estudiantes por debajo o por encima del promedio:</p>
					<select class="browser-default" id="selectorDebajoEncima">
						<option value="" disabled selected>Debajo o Encima</option>
						<option value="EX1">Encima</option>
						<option value="EX2">Debajo</option>
					</select>
		</div>
		<div><button type="button" id="deprom">Calcular</button></div>

	</div>

<%include footer %>
