<div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
  <!-- Grey navigation panel

        This content will be:
    3-columns-wide on large screens,
    4-columns-wide on medium screens,
    12-columns-wide on small screens  -->
    <ul>
      <p style="text-align:center;"> Tablas </p>
      <div class="col s12 indigo lighten-5"><p><li><a href="#">Empleados</a></li></p></div>
      <div class="col s12 indigo lighten-5"><p><li><a href="#">Clientes</a></li></p></div>
      <div class="col s12 indigo lighten-5"><p><li><a href="#">Artículos</a></li></p></div>
      <div class="col s12 indigo lighten-5"><p><li><a href="#">Proveedores</a></li></p></div>
      <div class="col s12 indigo lighten-5"><p><li><a href="#">Medicamentos</a></li></p></div>
      <div class="col s12 indigo lighten-5"><p><li><a href="#">Clasificación medicamentos</a></li></p></div>
      <div class="col s12 indigo lighten-5"><p><li><a href="#">Pedidos</a></li></p></div>
    </ul>

</div>
